<div class="container">
  <div class="row">
    <div class="col-lg-12">
      <div class="par-head">About</div>
      <p class="par-txt">Utah is a state in the western United States. It became the 45th state admitted to the Union on January 4, 1896. Utah is the 13th-largest, the 33rd-most populous, and the 10th-least-densely populated of the 50 United States. Utah has a population of about 2.9 million, approximately 80% of whom live along the Wasatch Front, centering on Salt Lake City.</p>
      <p class="par-txt">Approximately 62% of Utahns are reported to be members of The Church of Jesus Christ of Latter-day Saints or LDS (Mormons), which greatly influences Utah culture and daily life. The world headquarters of The Church of Jesus Christ of Latter-day Saints (LDS Church) is located in Utah's state capital, Salt Lake City. Utah is the most religiously homogeneous state in the United States, the only state with a Mormon majority, and the only state with a majority population belonging to a single church.</p>
      <p class="par-txt">The state is a center of transportation, education, information technology and research, government services, mining, and a major tourist destination for outdoor recreation. In 2013, the U.S. Census Bureau estimated that Utah had the second fastest-growing population of any state. St. George was the fastest–growing metropolitan area in the United States from 2000 to 2005. Utah also has the 14th highest median average income out of U.S. states, and has the 2nd highest income when adjusted for cost of living. A 2012 Gallup national survey found Utah overall to be the "best state to live in" based on 13 forward-looking measurements including various economic, lifestyle, and health-related outlook metrics.</p>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-12">
      <div class="pop-info">Population of 2.943 million</div>
    </div>
  </div>
</div>
