body {
  font-family: 'Ubuntu', sans-serif;
}

.navbar-inverse {
  padding: 8px;
}

.navbar-inverse a {
  font-size: 20px;
  color: #ffd700 !important;
}

.navbar-inverse a:hover {
  color: #ffe766 !important;
}

.btn-custom {
  background-color: #ffd700;
  color: black;
}

.btn-custom:hover {
  color: white;
}

.wrapper {
  margin-top: 100px;
}

.poster {
  height: 100%;
}
